**/*
#
!src/
!src/**
!README.md
!.vscode/
!.vscode/**
!.github/
!.github/workflows/
!.github/workflows/**
!.pre-commit-config.yaml
!.gitignore
!pyproject.toml
!uv.lock
!static_files/
!static_files/**
!.djlintrc
!.python-version
**/__pycache__/
**/*cache*
