<!-- Bootstrap Navbar -->
<nav id="navbar" class="navbar sticky-top navbar-expand-lg">
    <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='logos/default.svg') }}"
                 alt="Logo"
                 width="150"
                 height="auto" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            </ul>
        </div>
    </div>
</nav>
